.card__delete {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin: 10px 0 0;
  padding: 0;

  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: #313131;
  background-image: url('../../../images/delete.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: opacity var(--transition-time) ease;
}

.card__delete:hover {
  opacity: var(--opacity-hover);
}
