.profile {
  padding: 0 30px;
}

.profile__form {
  max-width: 410px;
  width: 100%;
  margin: 74px auto 70px;
}

.profile__title {
  margin: 0 0 101px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__label {
  position: relative;
  top: 13px;

  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}

.profile__title + .profile__label {
  top: 18px;
}

.profile__input {
  display: block;
  width: 100%;
  height: 31px;
  margin-top: 4px;
  padding: 0 0 16px 100px;

  color: white;
  text-align: right;
  font-weight: var(--font-weight-regular);
  font-size: 11px;
  line-height: 13px;

  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #424242;
  background-color: inherit;
}

.profile__input:nth-child(5) {
  margin-top: -3px;

  border: 0;
}

.profile__input:focus {
  outline: none;
}

.profile__wrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 204px;
  margin-bottom: 70px;
}

.profile__button {
  padding: 0;

  font-weight: var(--font-weight-regular);
  font-size: 13px;
  line-height: 16px;
  color: white;

  border: 0;
  background-color: inherit;
}

.profile__button_logout {
  font-weight: 500;
  color: #ee3465;
}

@media screen and (max-width: 450px) {
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}
