.nav {
  display: flex;
  align-items: center;
  max-width: 381px;
  height: 32;

  overflow-x: hidden;
}

.nav__wrap {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.nav__link {
  display: inline-block;

  font-weight: var(--font-weight-regular);
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-decoration: none;
}

.nav__link_active {
  font-weight: 500;
}

.nav__link_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  border-radius: 20px;
  background-color: #313131;
}

.nav__input {
  display: none;
}

.nav__menu {
  display: none;
}

.nav__content {
}

@media screen and (max-width: 768px) {
  .nav__wrap {
    display: none;
  }

  .nav__link_profile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 32px;
    margin: 0 auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    border-radius: 20px;
    background-color: #313131;
  }

  .nav__label {
    position: absolute;
    top: 15px;
    right: 30px;
    width: 44px;
    height: 44px;

    z-index: 4;
    cursor: pointer;
    background-image: url('../../images/burger768.svg');
    transition: opacity var(--transition-time) ease;
  }

  .nav__label:hover {
    opacity: var(--opacity-hover);
  }

  .nav__input:checked ~ .nav__label {
    position: fixed;
    top: 26px;
    right: 27px;

    width: 22px;
    height: 22px;

    background-image: url('../../images/burgerClose768.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .nav__input:checked ~ .nav__menu {
    position: fixed;
    top: 0;
    right: 0;

    display: block;
    width: 100vw;
    height: 100vh;

    z-index: 2;
  }

  .nav__overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    cursor: pointer;
    z-index: -1;
    opacity: 0.3;
    background-color: black;
  }

  .nav__menu .nav__content {
    width: 520px;
    height: 100%;
    margin-left: auto;

    z-index: 2;
    background-color: #202020;
  }

  #menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 22px;
    margin: 0;
    padding: 159px 90px 615px;

    list-style: none;
  }

  #menu li {
    display: inline-flex;
    justify-content: center;
    height: 28px;

    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    box-sizing: border-box;
    transition: opacity var(--transition-time) ease;
  }

  #menu li:hover {
    opacity: var(--opacity-hover);
  }

  .nav__border {
    border-bottom: 2px solid white;
  }

  .nav__link_profile {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .nav__menu .nav__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  #menu {
    max-width: 300px;
    width: 100%;
    padding: 144px 10px 433px;
    gap: 16px;
  }

  #menu li {
    height: 31px;
  }

  .nav__input:checked ~ .nav__label {
    top: 18px;
    right: 18px;
  }
}
