.footer {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  min-height: 172px;
  margin: 0 auto;
  padding: 0 70px;

  box-sizing: border-box;
}

.footer__title {
  margin: 79px 0 0;
  padding-bottom: 20px;

  font-weight: var(--font-weight-regular);
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: var(--color-gray);

  box-sizing: border-box;
  border-bottom: 1px solid #424242;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.footer__copyright {
  font-weight: var(--font-weight-regular);
  font-size: 13px;
  line-height: 16px;
}

.footer__links {
  display: flex;
  gap: 20px;
}

.footer__link {
  font-weight: var(--font-weight-regular);
  font-size: 13px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  transition: opacity var(--transition-time) ease;
}

.footer__link:hover {
  opacity: var(--opacity-hover);
}

@media screen and (max-width: 1090px) {
  .footer {
    padding: 0 50px;
  }
}

@media screen and (max-width: 568px) {
  .footer__wrap {
    flex-direction: column;
    margin: 30px 0 10px;
  }

  .footer__copyright {
    margin-top: 30px;

    order: 2;
    text-align: center;
    color: var(--color-gray);
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    padding: 0 10px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }
}
