.auth__input {
  height: 28px;
  margin: 0;
  padding: 0 0 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: white;

  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #424242;
  background-color: inherit;
}

.auth__input:focus {
  outline: none;
  border-bottom: 1px solid #4285f4;
}
